  /* .overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: 2;
  }

  .left-selected {
    left: 0;
    width: 50%;
    background-color: rgba(0, 255, 0, 0.3); 
  }

  .right-selected {
    right: 0;
    width: 50%;
    background-color: rgba(0, 255, 0, 0.3); 
  }

  .left-blurred {
    left: 0;
    width: 50%;
    backdrop-filter: blur(5px);
  }

  .right-blurred {
    right: 0;
    width: 50%;
    backdrop-filter: blur(5px);
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border-style: solid;
  }

  .arrow-left {
    left: -40px; 
    border-width: 20px 25px 20px 0;
    border-color: transparent green transparent transparent;
  }

  .arrow-right {
    right: -40px; 
    border-width: 20px 0 20px 25px; 
    border-color: transparent transparent transparent green;
  }


  .arrow-label {
    position: absolute;
    top: calc(50% - 40px); 
    transform: translateY(-50%);
    color: green;
    font-weight: bold;
  }

  .arrow-label-left {
    left: -80px; 
    text-align: right;
  }

  .arrow-label-right {
    right: -80px; 
    text-align: left;
  }


  canvas {
    border: 3px solid black; 
    cursor: pointer;
    max-width: 100%;
    height: auto;
  } */




  .overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
  }
  
  .left-selected {
    left: 0;
    background-color: rgba(72, 74, 72, 0.3); /* Light green overlay */
  }
  
  .right-selected {
    right: 0;
    background-color: rgba(72, 74, 72, 0.3); /* Light green overlay */
  }
  
  .left-blurred {
    left: 0;
    backdrop-filter: blur(5px);
  }
  
  .right-blurred {
    right: 0;
    backdrop-filter: blur(5px);
  }
  
  .touch-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    z-index: 3; /* Ensure touch icon is on top */
  }
  
  .touch-left {
    left: 10px; /* Adjust to position icon inside the canvas */
  }
  
  .touch-right {
    right: 10px; /* Adjust to position icon inside the canvas */
  }
  
  .touch-icon {
    width: 70px; /* Adjust size as needed */
    height: 70px; /* Adjust size as needed */
  }
  
  .touch-label {
    margin-left: 10px;
    color: rgb(12, 12, 12);
    font-weight: bold;
    font-size: 36px; /* Adjust font size as needed */
    margin-right: 20px;
  }
  
  canvas {
    /* border: 3px solid black; */
    cursor: pointer;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
  