

  .overlay {
    pointer-events: none;
    position: absolute;
    top: 0;
    height: 100%;
    width: 50%;
    z-index: 2;
  }
  
  .left-selected {
    left: 0;
    background-color: rgba(72, 74, 72, 0.3); /* Light green overlay */
  }
  
  .right-selected {
    right: 0;
    background-color: rgba(72, 74, 72, 0.3); /* Light green overlay */
  }
  
  .left-blurred {
    left: 0;
    backdrop-filter: blur(5px);
  }
  
  .right-blurred {
    right: 0;
    backdrop-filter: blur(5px);
  }
  
  .touch-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    align-items: center;
    z-index: 3; /* Ensure touch icon is on top */
  }
  
  .touch-left {
    left: 10px; /* Adjust to position icon inside the canvas */
  }
  
  .touch-right {
    right: 10px; /* Adjust to position icon inside the canvas */
  }
  
  .touch-icon {
    width: 70px; /* Adjust size as needed */
    height: 70px; /* Adjust size as needed */
  }
  
  .touch-label {
    margin-left: 10px;
    color: rgb(12, 12, 12);
    font-weight: bold;
    font-size: 36px; /* Adjust font size as needed */
    margin-right: 20px;
    color:#288be3;
  }
  
  canvas {
    /* border: 3px solid black; */
    cursor: pointer;
    max-width: 100%;
    height: auto;
    position: relative;
    z-index: 1;
  }
  