.title-container {
  display: flex;
  justify-content: space-between;
  /* width: 45%; */
  max-width: 250px;
  margin: 0 auto 5px auto;
  padding: 0 5px;
}

.side-title {
  font-weight: bold;
  color: black;
  font-size: x-large;
}

.chat-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
  border: 1px solid #ccc;
  /* width: 40%; */
  max-width: 250px;
  margin: 0 auto;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.chat-side {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  margin: 3px 0;
  position: relative;
}

.left-side {
  align-items: flex-start;
}

.right-side {
  align-items: flex-end;
}

.chat-bubble {
  border-radius: 10px;
  padding: 5px;
  margin: 2px 0;
  max-width: 80%;
  word-wrap: break-word;
  font-size: small;
}

.left {
  background-color: #e5e5ea;
}

.right {
  background-color: #e5e5ea;
}

.selected {
  border-radius: 10px;
  z-index: 1;
}

.not-selected {
  filter: blur(3px);
}

.right-side.selected .chat-bubble {
  background-color: #daf1da; /* Green for selected */
}

.left-side.selected .chat-bubble {
  background-color: #daf1da; /* Green for selected */
}

.title {
  font-weight: bold;
  color: black;
  margin-bottom: 5px;
  font-size: large;
}

@media screen and (max-width: 600px) {
  .chat-bubble {
    max-width: 100%;
    font-size: xx-small;
  }

  .title {
    font-size: large;
  }

  .side-title {
    font-size: x-large;
  }
}